<a href="https://colab.research.google.com/github/degru82/programmers-de/blob/master/dataengineering_w3_assingment_2_to_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignments
- #2 Gross Revenue가 가장 큰 User ID 10개 찾기
- #3 채널별 월 매출액 테이블 만들기
- #4 (보너스) 월별 코호트 MAU (Monthly Active User) 테이블 만들기

In [ ]:
uid = input("USER ID: ")
pwd = input("PASSWORD: ")

In [2]:
conn_str = \
    f'postgresql://{uid}:{pwd}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'

%load_ext sql
%sql $conn_str

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: degru82@dev'

# 2. Gross Revenue가 가장 큰 User ID 10개 찾기

## 2.a. SQL로 찾아보기
- 먼저 session transaction과 user session channel 집합 간의 포함관계를 확인합니다.
- 만약 session trasaction의 특정 session 정보가 user session channel에는 존재하지 않는 경우, 실제로 수익/환불이 발생했음에도 USER ID를 찾을 수 없는 경우가 발생하기 때문입니다.

In [3]:
%%sql 
SELECT SUM(session_transaction_wo_userinfo)
FROM
(
    SELECT
        CASE WHEN sessionid IN 
            (
                SELECT DISTINCT sessionid FROM raw_data.user_session_channel
            ) THEN 0
        ELSE 1 END AS session_transaction_wo_userinfo
    FROM raw_data.session_transaction
)

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

운이 좋게도 session transaction은 user session channel에 포함됩니다.  
(사실 상식적으로도 모든 세션 정보 중에서 일부만이 수익이 발생한 세션이 되어야 합니다.)  

그럼 이제 JOIN을 하는데 INNER JOIN도 무방함을 확인하였으므로 INNER JOIN 하여 불필요한 계산량을 줄입니다

In [4]:
%%sql

SELECT
    USC.userid AS USER
    , SUM(ST.amount) AS SUM

FROM raw_data.user_session_channel USC

JOIN raw_data.session_transaction ST
ON USC.sessionid = ST.sessionid

GROUP BY 1
ORDER BY 2 DESC

LIMIT 10;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

## 2.b. Pandas로 풀어보기

먼저 데이터 프레임을 읽어옵니다

In [5]:
usc = %sql select * from raw_data.user_session_channel
usc = usc.DataFrame()
usc.head()

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

   userid                         sessionid   channel
0     184  c41dd99a69df04044aa4e33ece9c9249     Naver
1      80  fdc0eb412a84fa549afe68373d9087e9   Organic
2     251  0a54b19a13b6712dc04d1b49215423d8  Facebook
3     264  a914ecef9c12ffdb9bede64bb703d877    Google
4     744  05ae14d7ae387b93370d142d82220f1b  Facebook

In [6]:
st = %sql select * from raw_data.session_transaction
st = st.DataFrame()
st.head()

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
996 rows affected.

                          sessionid  refunded  amount
0  00029153d12ae1c9abe59c17ff2e0895     False      85
1  008909bd27b680698322c750c400e4b1     False      13
2  0107acb41ef20db2289d261d4e34fd38     False      16
3  018544a2c48077d2cc3ce3278ab1e805     False      39
4  020c38173caff02033564200e0288aa9     False      61

위에서 SQL로 검증했듯이 포함관계를 찾아봅니다.

In [7]:
usc_sessions = usc['sessionid'].unique()
st_sessions = st['sessionid'].unique()

for sid in st_sessions:

    if sid not in usc_sessions:
        print('USC does NOT include ST')
        break

else:
    print('USC includes ST')

USC includes ST

이제 두려울 것이 없습니다. INNER JOIN을 시도합니다.

In [8]:
import pandas as pd

joined = pd.merge(usc, st, how='inner', on='sessionid')
joined.head()

   userid                         sessionid   channel  refunded  amount
0     341  e10534dd65cf727692c0f9c44ba613f8     Naver     False     126
1     468  ce5193a069bea027a60e06c57a106eb6  Facebook     False     111
2     654  5d8c6ee0d8964e66a3225458f981522d     Naver     False     124
3     230  94f192dee566b018e0acf31e1f99a2d9     Naver     False      47
4     267  7b99efbc101a6013d2c710028bca5cbf  Facebook     False      16

이제 user id 별로 summation을 구해봅니다.

In [9]:
summed_by_userid = joined.groupby(['userid']).sum()
ordered_sum_by_userid = \
    summed_by_userid.sort_values(by=['amount'], ascending=False)
ordered_sum_by_userid.head(10)

        refunded  amount
userid
989          0.0     743
772          0.0     556
1615         0.0     506
654          0.0     488
1651         0.0     463
973          0.0     438
262          0.0     422
1099         1.0     421
2682         0.0     414
891          0.0     412

보기 좋게 조금 다듬으면,

In [10]:
ordered_sum_by_userid = ordered_sum_by_userid.reset_index()
ordered_sum_by_userid.loc[:, ['userid', 'amount']].head(10)

   userid  amount
0     989     743
1     772     556
2    1615     506
3     654     488
4    1651     463
5     973     438
6     262     422
7    1099     421
8    2682     414
9     891     412

----
# 3. 채널별 월 매출 테이블 만들기

## 3.a. SQL로 도전하기

보다 정밀하게 작업하려면, 테이블 공통 키들 간의 포함관계를 하나씩 따져보아야 하지만,  
- Channel과 USC 간에는 
  - 의미상으로는 둘은 포함관계에 있을 필요가 없으므로 FULL JOIN을 사용하거나
  - 관심 채널에 대해서만 분석한다는 의미로 LEFT JOIN을 사용합니다.
- USC와 ST의 경우 
  - 의미상으로는 동등하여 INNER JOIN도 되지만,
  - 현실적으로 다르다면, FULL JOIN을 사용하여야 할 것 입니다. 여기서는 레코드가 동등함을 따로 확인했기에 LEFT JOIN 하였습니다.
- USC와 Transaction의 경우, 전체 중 일부에서만 거래가 이루어질 것이기에 LEFT JOIN을 사용합니다.

In [11]:
%%sql

SELECT
    EXTRACT(MONTH FROM ST.ts) AS month
    , CHN.channelname AS channel
    , COUNT(DISTINCT USC.userid) AS uniqueUsers
    , COUNT(DISTINCT (CASE WHEN TRN.amount > 0 THEN USC.userid ELSE NULL END))AS paidUsers
    , CASE WHEN uniqueUsers IS NOT NULL THEN CAST(CAST(paidUsers AS DECIMAL(10,2)) / uniqueUsers AS DECIMAL(10,6)) ELSE NULL END AS conversionRate
    , SUM(TRN.amount) AS grossRevenue
    , SUM(TRN.amount) - SUM(CASE WHEN TRN.refunded IS TRUE THEN amount ELSE 0 END) AS netRevenue

FROM raw_data.channel CHN

LEFT JOIN raw_data.user_session_channel USC
ON CHN.channelname = USC.channel

INNER JOIN raw_data.session_timestamp ST
ON USC.sessionid = ST.sessionid

LEFT JOIN raw_data.session_transaction TRN
ON USC.sessionid = TRN.sessionid

GROUP BY 1, 2
ORDER BY 1 ASC, 2

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[(5, 'Facebook', 247, 14, Decimal('0.056680'), 1199, 997),
 (5, 'Google', 253, 10, Decimal('0.039525'), 580, 580),
 (5, 'Instagram', 234, 11, Decimal('0.047008'), 959, 770),
 (5, 'Naver', 237, 11, Decimal('0.046413'), 867, 844),
 (5, 'Organic', 238, 17, Decimal('0.071428'), 1846, 1571),
 (5, 'Youtube', 244, 9, Decimal('0.036885'), 529, 529),
 (6, 'Facebook', 414, 22, Decimal('0.053140'), 1578, 1578),
 (6, 'Google', 412, 13, Decimal('0.031553'), 947, 947),
 (6, 'Instagram', 410, 21, Decimal('0.051219'), 1462, 1418),
 (6, 'Naver', 398, 15, Decimal('0.037688'), 1090, 1090),
 (6, 'Organic', 416, 14, Decimal('0.033653'), 1129, 940),
 (6, 'Youtube', 400, 17, Decimal('0.042500'), 1042, 1042),
 (7, 'Facebook', 558, 32, Decimal('0.057347'), 2222, 2144),
 (7, 'Google', 556, 21, Decimal('0.037769'), 1558, 1385),
 (7, 'Instagram', 567, 24, Decimal('0.042328'), 1896, 1766),
 (7, 'Naver', 553, 19, Decimal('0.034358'), 1547, 1547),
 (7, 'Organic', 557, 22, Decimal('0.039497'), 1600, 1600),
 (7, 'Youtube', 564, 36, Decimal('0.063829'), 2210, 2037),
 (8, 'Facebook', 611, 18, Decimal('0.029459'), 1009, 1009),
 (8, 'Google', 610, 27, Decimal('0.044262'), 2210, 1894),
 (8, 'Instagram', 621, 28, Decimal('0.045088'), 2129, 2001),
 (8, 'Naver', 626, 22, Decimal('0.035143'), 1829, 1551),
 (8, 'Organic', 608, 26, Decimal('0.042763'), 1643, 1606),
 (8, 'Youtube', 614, 18, Decimal('0.029315'), 987, 950),
 (9, 'Facebook', 597, 27, Decimal('0.045226'), 2270, 2270),
 (9, 'Google', 599, 25, Decimal('0.041736'), 1872, 1691),
 (9, 'Instagram', 588, 20, Decimal('0.034013'), 1260, 1122),
 (9, 'Naver', 592, 21, Decimal('0.035472'), 1996, 1996),
 (9, 'Organic', 592, 22, Decimal('0.037162'), 1267, 1267),
 (9, 'Youtube', 588, 15, Decimal('0.025510'), 1301, 1301),
 (10, 'Facebook', 698, 29, Decimal('0.041547'), 1650, 1641),
 (10, 'Google', 699, 30, Decimal('0.042918'), 2150, 2098),
 (10, 'Instagram', 707, 33, Decimal('0.046676'), 2568, 2395),
 (10, 'Naver', 713, 32, Decimal('0.044880'), 2695, 2695),
 (10, 'Organic', 709, 31, Decimal('0.043723'), 2762, 2608),
 (10, 'Youtube', 705, 34, Decimal('0.048226'), 2492, 2319),
 (11, 'Facebook', 688, 25, Decimal('0.036337'), 1678, 1678),
 (11, 'Google', 688, 26, Decimal('0.037790'), 2286, 2235),
 (11, 'Instagram', 669, 25, Decimal('0.037369'), 2116, 2116),
 (11, 'Naver', 667, 26, Decimal('0.038980'), 2234, 1987),
 (11, 'Organic', 677, 34, Decimal('0.050221'), 2626, 2255),
 (11, 'Youtube', 677, 45, Decimal('0.066469'), 3532, 3331)]

## 3.b. Pandas로 도전하기

먼저 raw data를 불러옵니다

In [12]:
import numpy as np
import pandas as pd


channels = %sql SELECT * FROM raw_data.channel
usersessions_via_channel = %sql SELECT * FROM raw_data.user_session_channel
session_transactions = %sql SELECT * FROM raw_data.session_transaction
session_timestamps = %sql SELECT * FROM raw_data.session_timestamp

channels, usersessions_via_channel, session_transactions, session_timestamps = \
    channels.DataFrame(), usersessions_via_channel.DataFrame(), \
    session_transactions.DataFrame(), session_timestamps.DataFrame()

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.
 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.
 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
996 rows affected.
 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [13]:
receipts = usersessions_via_channel.merge(
    session_timestamps, how='inner', on='sessionid'
).merge(
    session_transactions, how='left', on='sessionid'
)

receipts.head()

   userid                         sessionid  ... refunded amount
0     779  7cdace91c487558e27ce54df7cdb299c  ...      NaN    NaN
1     230  94f192dee566b018e0acf31e1f99a2d9  ...    False   47.0
2     369  7ed2d3454c5eea71148b11d0c25104ff  ...      NaN    NaN
3     248  f1daf122cde863010844459363cd31db  ...      NaN    NaN
4     676  fd0efcca272f704a760c3b61dcc70fd0  ...      NaN    NaN

[5 rows x 6 columns]

In [14]:
receipts['month'] = receipts['ts'].apply(lambda x: x.strftime("%Y%m"))
receipts.head()

   userid                         sessionid    channel  ... refunded amount   month
0     779  7cdace91c487558e27ce54df7cdb299c  Instagram  ...      NaN    NaN  201905
1     230  94f192dee566b018e0acf31e1f99a2d9      Naver  ...    False   47.0  201905
2     369  7ed2d3454c5eea71148b11d0c25104ff    Youtube  ...      NaN    NaN  201905
3     248  f1daf122cde863010844459363cd31db      Naver  ...      NaN    NaN  201905
4     676  fd0efcca272f704a760c3b61dcc70fd0  Instagram  ...      NaN    NaN  201905

[5 rows x 7 columns]

이제 Pandas의 groupby 함수로 각각의 필드 값을 채울 것입니다. 다만, 각 컬럼별로 계산하는 방식이 다르기 때문에 이를 명시적으로 함수로 작성하여 피벗 테이블을 만들도록 하겠습니다.

In [15]:
def build_sales_figures(df: object) -> object:
    """
    From pandas data frame grouped with criteria,
    returns summarized table with fields following
     - month: yyyymm
     - channel: channel name
     - uniqueUsers: total count of unique userids
     - paidUsers: total count of unique userids 
                  who contains non-zero refund & amount
     - conversionRate: paidUsers / uniqueUsers
     - grossRevenue: sum of revenue
     - netRevenue: sum of revenue minus sum of refund
    """

    figures = {}    
    figures['uniqueUsers'] = df['userid'].unique().size

    paidcases = df['amount'] > 0
    figures['paidUsers'] = df[paidcases]['userid'].unique().size

    figures['conversionRate'] = figures['paidUsers'] / figures['uniqueUsers']

    figures['grossRevenue'] = df[paidcases]['amount'].sum()

    refundcases = df['refunded'] == True
    refundamount = df[refundcases]['amount'].sum()
    figures['netRevenue'] = figures['grossRevenue'] - refundamount

    return pd.Series(
        figures,
        index=[
               'uniqueUsers', 'paidUsers', 'conversionRate',
               'grossRevenue', 'netRevenue'
        ]
    )

In [16]:
saleslog = receipts.groupby(by=['month', 'channel']).apply(build_sales_figures)
saleslog

                  uniqueUsers  paidUsers  ...  grossRevenue  netRevenue
month  channel                            ...
201905 Facebook         247.0       14.0  ...        1199.0       997.0
       Google           253.0       10.0  ...         580.0       580.0
       Instagram        234.0       11.0  ...         959.0       770.0
       Naver            237.0       11.0  ...         867.0       844.0
       Organic          238.0       17.0  ...        1846.0      1571.0
       Youtube          244.0        9.0  ...         529.0       529.0
201906 Facebook         414.0       22.0  ...        1578.0      1578.0
       Google           412.0       13.0  ...         947.0       947.0
       Instagram        410.0       21.0  ...        1462.0      1418.0
       Naver            398.0       15.0  ...        1090.0      1090.0
       Organic          416.0       14.0  ...        1129.0       940.0
       Youtube          400.0       17.0  ...        1042.0      1042.0
201907 Facebook         558.0       32.0  ...        2222.0      2144.0
       Google           556.0       21.0  ...        1558.0      1385.0
       Instagram        567.0       24.0  ...        1896.0      1766.0
       Naver            553.0       19.0  ...        1547.0      1547.0
       Organic          557.0       22.0  ...        1600.0      1600.0
       Youtube          564.0       36.0  ...        2210.0      2037.0
201908 Facebook         611.0       18.0  ...        1009.0      1009.0
       Google           610.0       27.0  ...        2210.0      1894.0
       Instagram        621.0       28.0  ...        2129.0      2001.0
       Naver            626.0       22.0  ...        1829.0      1551.0
       Organic          608.0       26.0  ...        1643.0      1606.0
       Youtube          614.0       18.0  ...         987.0       950.0
201909 Facebook         597.0       27.0  ...        2270.0      2270.0
       Google           599.0       25.0  ...        1872.0      1691.0
       Instagram        588.0       20.0  ...        1260.0      1122.0
       Naver            592.0       21.0  ...        1996.0      1996.0
       Organic          592.0       22.0  ...        1267.0      1267.0
       Youtube          588.0       15.0  ...        1301.0      1301.0
201910 Facebook         698.0       29.0  ...        1650.0      1641.0
       Google           699.0       30.0  ...        2150.0      2098.0
       Instagram        707.0       33.0  ...        2568.0      2395.0
       Naver            713.0       32.0  ...        2695.0      2695.0
       Organic          709.0       31.0  ...        2762.0      2608.0
       Youtube          705.0       34.0  ...        2492.0      2319.0
201911 Facebook         688.0       25.0  ...        1678.0      1678.0
       Google           688.0       26.0  ...        2286.0      2235.0
       Instagram        669.0       25.0  ...        2116.0      2116.0
       Naver            667.0       26.0  ...        2234.0      1987.0
       Organic          677.0       34.0  ...        2626.0      2255.0
       Youtube          677.0       45.0  ...        3532.0      3331.0

[42 rows x 5 columns]

매우 만족스러운 결과를 얻었으나, 한가지 마음에 걸립니다. 문제의 조건에 Channel에 있는 모든 채널에 대해서 월별 매출액을 도출해야 한다고 명시하였는데, 현재의 피벗 테이블에서는 값이 없는 경우 아예 고려하지 않고 있습니다.

이를 해결하기 위해서, 월별 채널별 인덱스 컬럼을 만들고, 위의 피벗 테이블과 Left join 하겠습니다

In [17]:
channels['channel'] = channels['channelname']
del channels['channelname']
channels.head()

     channel
0      Naver
1   Facebook
2    Youtube
3  Instagram
4     TIKTOK

공통 컬럼을 가지지 않은 월과 채널 정보로 인해, 별 수 없이 손수 월별/채널별 인덱스 컬럼을 만들어 줍니다.

In [18]:
sorted(channels['channel'].unique())

['Facebook', 'Google', 'Instagram', 'Naver', 'Organic', 'TIKTOK', 'Youtube']

In [19]:
receipts['month'].unique()

records = []
for yyyymm in receipts['month'].unique():
    for chn in sorted(channels['channel'].unique()):
        records.append(
            {
                'month': yyyymm,
                'channel': chn
            }
        )

index_col = pd.DataFrame(records)
index_col

     month    channel
0   201905   Facebook
1   201905     Google
2   201905  Instagram
3   201905      Naver
4   201905    Organic
5   201905     TIKTOK
6   201905    Youtube
7   201906   Facebook
8   201906     Google
9   201906  Instagram
10  201906      Naver
11  201906    Organic
12  201906     TIKTOK
13  201906    Youtube
14  201907   Facebook
15  201907     Google
16  201907  Instagram
17  201907      Naver
18  201907    Organic
19  201907     TIKTOK
20  201907    Youtube
21  201908   Facebook
22  201908     Google
23  201908  Instagram
24  201908      Naver
25  201908    Organic
26  201908     TIKTOK
27  201908    Youtube
28  201909   Facebook
29  201909     Google
30  201909  Instagram
31  201909      Naver
32  201909    Organic
33  201909     TIKTOK
34  201909    Youtube
35  201910   Facebook
36  201910     Google
37  201910  Instagram
38  201910      Naver
39  201910    Organic
40  201910     TIKTOK
41  201910    Youtube
42  201911   Facebook
43  201911     Google
44  201911  Instagram
45  201911      Naver
46  201911    Organic
47  201911     TIKTOK
48  201911    Youtube

이제 위의 세일즈 숫자 피벗 테이블과 인덱스 테이블을 조인해줍니다.

In [20]:
sales_figures = pd.merge(
    index_col, saleslog, how='outer', on=['month', 'channel']
)
sales_figures = sales_figures.set_index(['month', 'channel'])

In [21]:
sales_figures

                  uniqueUsers  paidUsers  ...  grossRevenue  netRevenue
month  channel                            ...
201905 Facebook         247.0       14.0  ...        1199.0       997.0
       Google           253.0       10.0  ...         580.0       580.0
       Instagram        234.0       11.0  ...         959.0       770.0
       Naver            237.0       11.0  ...         867.0       844.0
       Organic          238.0       17.0  ...        1846.0      1571.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          244.0        9.0  ...         529.0       529.0
201906 Facebook         414.0       22.0  ...        1578.0      1578.0
       Google           412.0       13.0  ...         947.0       947.0
       Instagram        410.0       21.0  ...        1462.0      1418.0
       Naver            398.0       15.0  ...        1090.0      1090.0
       Organic          416.0       14.0  ...        1129.0       940.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          400.0       17.0  ...        1042.0      1042.0
201907 Facebook         558.0       32.0  ...        2222.0      2144.0
       Google           556.0       21.0  ...        1558.0      1385.0
       Instagram        567.0       24.0  ...        1896.0      1766.0
       Naver            553.0       19.0  ...        1547.0      1547.0
       Organic          557.0       22.0  ...        1600.0      1600.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          564.0       36.0  ...        2210.0      2037.0
201908 Facebook         611.0       18.0  ...        1009.0      1009.0
       Google           610.0       27.0  ...        2210.0      1894.0
       Instagram        621.0       28.0  ...        2129.0      2001.0
       Naver            626.0       22.0  ...        1829.0      1551.0
       Organic          608.0       26.0  ...        1643.0      1606.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          614.0       18.0  ...         987.0       950.0
201909 Facebook         597.0       27.0  ...        2270.0      2270.0
       Google           599.0       25.0  ...        1872.0      1691.0
       Instagram        588.0       20.0  ...        1260.0      1122.0
       Naver            592.0       21.0  ...        1996.0      1996.0
       Organic          592.0       22.0  ...        1267.0      1267.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          588.0       15.0  ...        1301.0      1301.0
201910 Facebook         698.0       29.0  ...        1650.0      1641.0
       Google           699.0       30.0  ...        2150.0      2098.0
       Instagram        707.0       33.0  ...        2568.0      2395.0
       Naver            713.0       32.0  ...        2695.0      2695.0
       Organic          709.0       31.0  ...        2762.0      2608.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          705.0       34.0  ...        2492.0      2319.0
201911 Facebook         688.0       25.0  ...        1678.0      1678.0
       Google           688.0       26.0  ...        2286.0      2235.0
       Instagram        669.0       25.0  ...        2116.0      2116.0
       Naver            667.0       26.0  ...        2234.0      1987.0
       Organic          677.0       34.0  ...        2626.0      2255.0
       TIKTOK             NaN        NaN  ...           NaN         NaN
       Youtube          677.0       45.0  ...        3532.0      3331.0

[49 rows x 5 columns]

# 4. (보너스) 월별 코호트 MAU 테이블 만들기

In [22]:
import numpy as np
import pandas as pd


channels = %sql SELECT * FROM raw_data.channel
usersessions_via_channel = %sql SELECT * FROM raw_data.user_session_channel
session_transactions = %sql SELECT * FROM raw_data.session_transaction
session_timestamps = %sql SELECT * FROM raw_data.session_timestamp

channels, usersessions_via_channel, session_transactions, session_timestamps = \
    channels.DataFrame(), usersessions_via_channel.DataFrame(), \
    session_transactions.DataFrame(), session_timestamps.DataFrame()

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.
 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.
 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
996 rows affected.
 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [23]:
backdata = usersessions_via_channel.merge(
    session_timestamps, how='inner', on='sessionid'
)

backdata.head()

   userid                         sessionid   channel                      ts
0     184  c41dd99a69df04044aa4e33ece9c9249     Naver 2019-05-01 00:35:59.897
1      80  fdc0eb412a84fa549afe68373d9087e9   Organic 2019-05-01 02:53:48.503
2     251  0a54b19a13b6712dc04d1b49215423d8  Facebook 2019-05-01 12:18:26.637
3     264  a914ecef9c12ffdb9bede64bb703d877    Google 2019-05-01 13:41:29.267
4     744  05ae14d7ae387b93370d142d82220f1b  Facebook 2019-05-01 14:17:54.083

In [24]:
backdata['yyyymm'] = backdata['ts'].apply(lambda x: x.strftime("%Y-%m"))
backdata.head()

   userid                         sessionid  ...                      ts   yyyymm
0     184  c41dd99a69df04044aa4e33ece9c9249  ... 2019-05-01 00:35:59.897  2019-05
1      80  fdc0eb412a84fa549afe68373d9087e9  ... 2019-05-01 02:53:48.503  2019-05
2     251  0a54b19a13b6712dc04d1b49215423d8  ... 2019-05-01 12:18:26.637  2019-05
3     264  a914ecef9c12ffdb9bede64bb703d877  ... 2019-05-01 13:41:29.267  2019-05
4     744  05ae14d7ae387b93370d142d82220f1b  ... 2019-05-01 14:17:54.083  2019-05

[5 rows x 5 columns]

기초 데이터 집계가 끝이났고, 이제 월별 신규 방문자와 해당 월 이후로 N th Month에 재방문자 수를 계산해야 합니다. 별 수 없이 한땀한땀 손수 작성합니다.

먼저 도구 함수로 해당 월의 중복없는 사용자 아이디를 set 타입으로 리턴하는 함수를 만듭니다.

In [25]:
def get_unique_visitors_on(month: str) -> object:
    """
    With the given month string, returns visitors list without duplicate
    """

    on_month = backdata['yyyymm'] == month
    return set(backdata[on_month]['userid'])

In [26]:
every_yyyymm = backdata['yyyymm'].unique()
num_months = every_yyyymm.size

visited_users = set()
cohort_records = []

for next_mon, yyyymm in enumerate(every_yyyymm, 1):
 
    single_record = {}
    single_record['Cohort Month'] = yyyymm

    # Get 1st Month's new visitors
    visitors_on_yyyymm = get_unique_visitors_on(yyyymm)
    newly_visited = visitors_on_yyyymm - visited_users
    single_record['Month 1'] = len(newly_visited)

    # Loop over 2nd Month to the end to get the revisited
    for nth_month, mon_N in enumerate(every_yyyymm[next_mon:], 2):
        visitors_on_mon_N = get_unique_visitors_on(mon_N)
        revisited_users = newly_visited & visitors_on_mon_N
        single_record[f'Month {nth_month}'] = len(revisited_users)

    # If finished before getting to Month 7, fill N/As
    nth_month += 1
    while nth_month <= num_months:
        single_record[f'Month {nth_month}'] = np.nan
        nth_month += 1

    # Collect single records to build a whole table
    cohort_records.append(single_record)
    visited_users = visited_users | newly_visited

cohort_table = pd.DataFrame(cohort_records)
cohort_table

  Cohort Month  Month 1  Month 2  Month 3  Month 4  Month 5  Month 6  Month 7
0      2019-05      281    262.0    237.0    229.0    224.0    213.0    206.0
1      2019-06      197    175.0    160.0    150.0    148.0    145.0      NaN
2      2019-07      211    189.0    175.0    167.0    155.0      NaN      NaN
3      2019-08       84     73.0     71.0     69.0      NaN      NaN      NaN
4      2019-09       17     14.0     13.0      NaN      NaN      NaN      NaN
5      2019-10      150    124.0      NaN      NaN      NaN      NaN      NaN
6      2019-11        9      NaN      NaN      NaN      NaN      NaN      NaN

이제 검산의 시간입니다. 먼저 Month 1의 숫자들은 매월 신규 유입자 수 이므로
- 이를 다 합한 값은 전체 시스템의 유니크한 유저 수여야 하고,
- 다른 방식으로는 전체 USC 레코드 중에서 유니크한 유저 수 계산과 같아야 합니다.

In [27]:
backdata['userid'].unique().size == cohort_table['Month 1'].sum()

True

또 다른 검산으로 월별 유니크한 사용자를 구하고,
- 2019-05를 시작으로 첫번째 유니크한 사용자 풀을 구한뒤
  - 2019-06과 교집합을 찾으면, 이 것이 재방문자 수가 됩니다.

같은 방식으로 몇개의 월에 대해 더 진행해서 확인합니다.

In [28]:
visitors_may = backdata[backdata['yyyymm'] == '2019-05']['userid'].unique()
visitors_jun = backdata[backdata['yyyymm'] == '2019-06']['userid'].unique()
visitors_oct = backdata[backdata['yyyymm'] == '2019-10']['userid'].unique()
visitors_nov = backdata[backdata['yyyymm'] == '2019-11']['userid'].unique()

month_1 = len(visitors_may)
month_2 = len(set(visitors_may) & set(visitors_jun))
month_6 = len(set(visitors_may) & set(visitors_oct))
month_7 = len(set(visitors_may) & set(visitors_nov))

print('month 1', 'month 2', '---', 'month 6', 'month 7')
print(f'{month_1:7} {month_2:7} --- {month_6:7} {month_7:7}')

month 1 month 2 --- month 6 month 7
    281     262 ---     213     206