<a href="https://colab.research.google.com/github/degru82/programmers-de/blob/master/dataengineering_w3_assingment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 오늘 살펴본 SQL들을 다시 실행해보고 요약해서 제출

## a. Connection 만들기

In [ ]:
uid = input('ID: ')
pwd = input('PWD: ')

In [2]:
sql_conn_str = f'postgresql://{uid}:{pwd}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'
%load_ext sql
%sql $sql_conn_str

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: degru82@dev'

## b. 테이블 만들어보기

In [3]:
%%sql


DROP TABLE IF EXISTS adhoc.mark_channel;


CREATE TABLE adhoc.mark_channel (
    channel VARCHAR(32) PRIMARY KEY
);

INSERT INTO adhoc.mark_channel
VALUES
('FACEBOOK')
,('GOOGLE');

SELECT * FROM adhoc.mark_channel;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
2 rows affected.
2 rows affected.

[('FACEBOOK',), ('GOOGLE',)]

In [4]:
%%sql

ALTER TABLE adhoc.mark_channel
RENAME channel to channelname;

INSERT INTO adhoc.mark_channel VALUES('TIKTOK');

SELECT * FROM adhoc.mark_channel;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
1 rows affected.
3 rows affected.

[('FACEBOOK',), ('GOOGLE',), ('TIKTOK',)]

In [5]:
%%sql

DROP TABLE adhoc.mark_channel;

CREATE TABLE adhoc.mark_channel AS
SELECT DISTINCT channel
FROM raw_data.user_session_channel;

SELECT * FROM adhoc.mark_channel;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
6 rows affected.

[('Instagram',),
 ('Naver',),
 ('Youtube',),
 ('Facebook',),
 ('Organic',),
 ('Google',)]

## c. IN & LIKE/ILIKE

In [6]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel IN ('Google', 'Facebook');

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [7]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel ILIKE 'Google' OR channel ILIKE 'Facebook';

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [8]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel ILIKE '%o%';

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[('Organic',), ('Google',), ('Facebook',), ('Youtube',)]

In [9]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel NOT ILIKE '%o%';

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('Naver',), ('Instagram',)]

## d. Session이 가장 많이 생성되는 시간대 찾기

In [10]:
%%sql

SELECT 
    EXTRACT(HOUR FROM ts)
    , COUNT(1)
FROM
    raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
24 rows affected.

[(15, 15339),
 (16, 14140),
 (14, 13417),
 (17, 10698),
 (13, 9035),
 (18, 7469),
 (19, 5278),
 (20, 3956),
 (12, 3852),
 (21, 3238),
 (22, 2801),
 (23, 2348),
 (0, 1870),
 (11, 1411),
 (1, 1328),
 (2, 1125),
 (10, 870),
 (3, 815),
 (4, 703),
 (5, 611),
 (6, 491),
 (9, 340),
 (7, 236),
 (8, 149)]

## e. raw_data.channel의 채널별 사용자수 세기

In [11]:
%%sql

SELECT
    CHN.channelname
    , COUNT(1)
FROM
    raw_data.channel CHN

LEFT JOIN raw_data.user_session_channel USC
ON USC.channel = CHN.channelname

GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('Youtube', 17091),
 ('Google', 16982),
 ('Naver', 16921),
 ('Organic', 16904),
 ('Instagram', 16831),
 ('Facebook', 16791),
 ('TIKTOK', 1)]

## f. 사용자별 처음채널과 마지막 채널

In [12]:
%%sql

SELECT
    ROW_NUMBER() OVER (PARTITION BY USC.userid ORDER BY ts ASC)
    , ST.ts
FROM raw_data.user_session_channel USC
JOIN raw_data.session_timestamp ST
ON USC.sessionid = ST.sessionid
WHERE userid = 251
LIMIT 1;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1, datetime.datetime(2019, 5, 1, 12, 18, 26, 637000))]

In [13]:
%%sql

SELECT
    ROW_NUMBER() OVER (PARTITION BY USC.userid ORDER BY ts DESC)
    , ST.ts
FROM raw_data.user_session_channel USC
JOIN raw_data.session_timestamp ST
ON USC.sessionid = ST.sessionid
WHERE userid = 251
LIMIT 1;

 * postgresql://degru82:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1, datetime.datetime(2019, 11, 26, 16, 54, 19))]